# Created by .ignore support plugin (hsz.mobi)
.idea/
framework.iml
target/
kafka_2*/
*.txt
*.swp
*.properties
!kafka_test.properties
!*_example.properties
!docker/configuration.properties
scripts/node_modules