# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/
kafka_2*/
*.txt
*.swp
*.properties
!kafka_test_example.properties
!*_example.properties
!docker/configuration.properties
scripts/node_modules
